@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Alice;
}


@font-face {
    font-family: 'Alice';
    src: url('./assets/fonts/Alice-Regular.ttf');
}

@font-face {
    font-family: 'TanPearl';
    src: url('./assets/fonts/TAN-PEARL.ttf');
}

.trans {
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
